*{
    box-sizing: border-box;
    
}
body{
    margin: 0px; font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
}

.home-bar{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    background-color:#4D9AAD;
    margin-bottom: 100px;margin: 0px;
}
.headerA{
    color: white; font-size: large; margin: 3px; padding-right: 500px;margin-left: 130px; padding: 0px;
}

.navbar{
    
    font-family: Arial, Helvetica, sans-serif;font-weight: 600;
    margin: 30px; font-size: 15px; margin-left: 300px;
}
.navbar a{
    color: white;text-decoration: none; 
    justify-content: space-between;    font-size: 17px; padding: 15px;
}
.hamburger{
    width: 50px;
    height: 50px;
    display: block;
    border: none;
    padding: 0px;
    margin: 20px;
    color: white;
}
.bar{
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
    

.project-wrapper{
    background-color: white;
    margin: 150px;
    display: block;
    justify-content: space-between;  
    margin-bottom: 20px;  
}

.ProjectH{
    font-size: 250%;
    font-style: normal;
    color:#4D9AAD  ;
}
.Pitem{
    font-size: 150%;
    line-height: 2.3rem;
    color:black   
}
.imgA{
    margin-left: 120px;
}
.container-design{
    background-color:#ebebeb ;
    margin-bottom: 0px;
    padding: 100px     
}
.Design-Contact{
    display: flex;
    justify-content: space-between;
    height: 170px;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0px;
}
.DesignH{
    font-size: 250%;
    font-style: normal;
    color:#4D9AAD;
    padding: 30px;
    padding-top: 0px; 
    margin: 30px;   
}
.ContactM{
    font-size: 1.3rem ;
    font-style: normal;
    background-color: #4D9AAD;color: white;
    border-radius: 8px;
    padding-right: 10px;
    margin-right: 160px;
    width: 125px;
    margin-left: 250px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 35px;  
}
.Img{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
    width: 500px;
}
.Img2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px;
    width: 500px;
}
.Imagewhite{
    justify-content: space-between;
    margin: 30px;
    border-radius: 10px;
    margin-top: 10px;
}
.container{
    background-color:#4D9AAD;
    margin-bottom: 0px;
}
.container-contact{
    color:white;
    margin: 0px;
    padding: 35px;
    margin-top: 0px;
    padding-bottom: 30px;
    display: flex;    
}
.Projectcontact{
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    padding: 70px;
    padding-top: 40px;
    margin-top: 0px;
    margin-left: 20px;
    padding-bottom: 0px;
}
.contact{
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0px;
    padding-top: 0px;   
}
.Mecontact{
    background-color: white;
    color: #157293;
    border-radius: 8px;
    padding-right: 30px;
    margin-left: 8px;
    margin-top: 95px;
 
}
.Telephone{
    background-color: #157293;
    color: white;
    border-radius: 8px;
    margin-left: 8px;
    margin-top: 95px;  
    padding-right: 30px;
}     

.footer{
    background-color: #157293;
    margin-top: 0px;
    padding-top: 90px;
    color: white;
    text-align: center;
    padding-bottom: 90px;   
}
.pro{
    height: 60%;
}
.email{
 text-decoration: none;
 margin-top: 40px;
 font-size: 25px;
 padding-bottom: 30px;
 color: white;

}
.logo{
    padding: 40px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    padding-right: 150px;
    margin-left: 90px;
   
}
.copy{
    font-size: small;
}
@media screen and (max-width:414px) {
    .home-bar{
        margin: 0px;padding: 0px;width: 102%;margin-left: 1px;
    }
    .headerA{
        margin: 2px;margin-right: 5px;padding-top: 15px;margin-left: 40px;
    }
    .bar{
        display: block;
        width: 29px;
        height: 4px;
        margin: 3px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }
    .project-wrapper{
        margin: 30px;
    }

    .container-project{
        margin-right: 40px;
    }
     
    .ProjectH{
     font-size: 45px;width: 200%;margin: 0px;
    } 
    .Pitem{
        font-size: 30px;
    }
    .imgA{
        margin-left: 5px;height: 400px;
    }
    .container-design{
    background-color:#ebebeb ;
    margin-bottom: 0px;
    padding: 15px     
}
.Design-Contact{
    display: block;
   height: 250px;
} 
.DesignH{
    font-size: 230%;
    font-style: normal;
    color:#4D9AAD;padding: 10px;
    padding-top: 20px; 
    margin: 0px;
    margin-left: 15px;  
    
}
.ContactM{
    font-size: 15px ;
    font-style: normal;
    background-color: #4D9AAD;color: white;
    border-radius: 7px;
    padding-right: 40px;
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;  
}

.Img{
    display: block;
     margin: 0px;   
}

.Img2{
    display: block;
    margin: 0px;
}
.container-contact{
    color:white;
    margin: 0px;
    padding: 35px;
    margin-top: 0px;
    padding-bottom: 30px;
    display: block; 
}

}
.Projectcontact{
   
    font-size: 40px;
    width: 190%; padding-right: 270px;
    margin: 0px;text-align: left;font-weight: 700;
}
.contact{
    width: 90%; margin-top: 50px;
}
.Mecontact{
   margin-top: 20px;
}

.Telephone{
    margin-top: 20px;
}
.footer{
    text-align: center; 
}
.logo{
    width: 90%;
    padding-right: 150px;
    margin-left: 90px
}
.pro{
    height: 60%;
}
.email{

 margin-top: 40px;
 padding-bottom: 30px;

 }
 @media screen and (min-width:1024px) {
    .body{
        margin: 0px;padding: 0px;
    }
    .home-bar{
        margin: 0px;padding: 0px;width: 102%;margin-left: 1px;
    }
    .headerA{
        margin: 2px;margin-right: 2px;padding-top: 15px;margin-left: 20px;padding: 0px;

 }
    .navbar{
    
    font-family: Arial, Helvetica, sans-serif;font-weight: 600;
    margin: 30px; font-size: 40px; margin-left: 150px;
}
    .navbar a{
    color: white;text-decoration: none; 
    justify-content: space-between;    font-size: 20px; padding: 15px;
}
.project-wrapper{
    background-color: white;
    margin: 150px;
    display: flex;
    justify-content: space-between;  
    margin-bottom: 20px;  

 }
 .container-design{
    margin-bottom: 0px;
    padding: 10px
}
.contact{
    width: 90%; margin-top: 50px;
}
.Mecontact{
   margin-top: 50px;
}

.Telephone{
    margin-top: 50px;
}
.logo{
    width: 40%;
    
    margin-left: 450px;
    padding-left: 40px;
}
}










    

    
    
    
    
    

    


